# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\04-EGOV项目\1-CRM\workspaceCrmProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
